<!-- app/views/categories/index.html.erb -->
<div class="category-list">
  <ul>
    <% @categories.each do |category| %>
      <li><%= link_to category.name, category_path(category.slug) %></li>
    <% end %>
  </ul>
</div>

<div class="cuisine-list">
  <!-- Hiển thị danh sách các cuisine ở đây, ban đầu có thể để trống -->
</div>
