<!-- app/views/categories/show.html.erb -->


<section class="bg-04" id="our-menu">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading">
          <span>Menu</span>
          <h2>Explore Our Best Menu</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores officiis explicabo blanditiis consequuntur fugit fugiat, incidunt totam consectetur veritatis minus corporis doloribus, qui maxime velit nesciunt, officia praesentium odit facilis.</p>
        </div>
      </div>
      <div class="category-list">
        <% @categories.each do |category| %>
          <div class="category-item <%= 'selected' if category.slug == params[:slug] %>">
            <%= link_to category.name, category_path(category.slug) %>
          </div>
        <% end %>
      </div>

     <%= render @cuisines %>

    </div>
  </div>
</section>
